# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
.idea/

# Swift Package Manager
.build/
Packages/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Archives
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM binary caches
.artifacts/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Logs
*.log

# User-specific files
*.swp
*.swo
*.orig

# macOS files
.DS_Store

# Preview Content
*.xcassets/Preview\ Content/
